[project]
	description = RDA_V2.1_SVN32
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/BarryChen (BarryChen)
[access "refs/for/refs/*"]
	read = group user/BarryChen (BarryChen)
	push = group user/BarryChen (BarryChen)
	label-Code-Review = -2..+2 group user/BarryChen (BarryChen)
	label-Verified = -1..+1 group user/BarryChen (BarryChen)
	rebase = group user/BarryChen (BarryChen)
	removeReviewer = group user/BarryChen (BarryChen)
	submit = group user/BarryChen (BarryChen)
[access "refs/heads/*"]
	read = group user/BarryChen (BarryChen)
	create = group user/BarryChen (BarryChen)
	push = +force group user/BarryChen (BarryChen)
	pushMerge = group user/BarryChen (BarryChen)
[access "refs/tags/*"]
	push = +force group user/BarryChen (BarryChen)
	createTag = group user/BarryChen (BarryChen)
	createSignedTag = group user/BarryChen (BarryChen)
